
<div class="head-div">
  DEMO PRINTING
</div>
<mat-grid-list cols="20"  rowHeight="2:1" [gutterSize]="'1em'">
  <mat-grid-tile class="canvas-container "
  colspan="15"
  rowspan="18">


  <div class="progress-bar" *ngIf="loaderService.isLoading | async"></div>
  <div id="myObject" class="myObject center"></div>
  </mat-grid-tile>
  <mat-grid-tile
  class="custom-printer-container white-bg"
        colspan="5"
        rowspan="18">
    <div class="center">
      <div class="setting-title">Control</div>

        <button  class="btn load-btn" (click)="handleClick()" type="button" >
          <label for="file" class="lable-icon"> Upload</label>
          <input
          id="file"
          class=""
          type="file"
          (change)="fileChanged($event)"
          accept=".obj, .stl"
          hidden
        />
        </button>


        <button class="btn" (click)="reconstruction()"> reconstruction</button>
        <button class="btn" (click)="split()">split</button>

      <button class="btn" (click)="downloadfile()">save model</button>


        <button mat-button color="primary" class="btn black-btn" (click)="print()">
          Print
        </button>

    </div>
  </mat-grid-tile>
</mat-grid-list>


